@import "tailwindcss";

html {
  scrollbar-gutter: stable;
}

html, body {
  overscroll-behavior: none;
}

@theme {
  --color-primary: #1DA1F2;
  --color-primary-text: #ffffff;
  --color-secondary-text: #8a8a8a;
  --color-background: #000000;
  --color-background-2: rgba(91, 112, 131, 0.4);;
  --color-border: #303030;
  --color-border-2: rgb(83, 100, 113);
  --color-secondary-background: #15202B;
  --color-secondary-background-2: #f4f4f4;
  --color-hover: #181818;
  --color-like: rgb(249, 24, 128);;
  --color-bg-grey: #161a1d;

  --breakpoint-xs: 600px;
  --breakpoint-sm: 688px;
  --breakpoint-md: 775px;
  --breakpoint-lg: 1006px;
  --breakpoint-xl: 1078px;
  --breakpoint-2xl: 1285px;
  --breakpoint-3xl: 1536px;
}

.test {
  color: #00472e;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
